
  
<div class="countdown">
  <h2 class="title">Time Until Halloween</h2>
<div class="countdown-days module">
  <span class="countdown-number">{{date.numdays}}</span>
  <span class="countdown-text">Days</span>
</div>
<div class="countdown-hours module">
  <span class="countdown-number">{{date.numhours}}</span>
  <span class="countdown-text">Hours</span>
</div>
<div class="countdown-minutes module">
  <span class="countdown-number">{{date.numminutes}}</span>
  <span class="countdown-text">Minutes</span>
</div>
<div class="countdown-seconds module">
  <span class="countdown-number">{{date.numseconds}}</span>
  <span class="countdown-text">Seconds</span>
</div>

</div>

<svg class="moon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" width="100" height="100">
  <circle r="30" fill="#fff" cx="70" cy="70" />
</svg>

<div class="back ground"></div>
<div class="mid ground"></div>
<div class="frontmid ground"></div>
<div class="front ground"></div>
<div class="horseman"></div>

<svg class="pumpkin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120" height="120" viewBox="0 0 426 426">
  <defs>
    <radialGradient id="radial-gradient" cx="213.02" cy="213.02" r="213.02" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#f69449"/>
      <stop offset="0.7" stop-color="#e99623" stop-opacity="0.8"/>
      <stop offset="1" stop-color="#d7ba95" stop-opacity="0"/>
    </radialGradient>
  </defs>
  <title>pumpkin</title>

</svg>

